In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv("files/train.csv")
df.sample(5)

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
17270,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41117,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38253,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26770,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20240,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0