In [136]:
import pandas as pd
import numpy as np

In [137]:
df1=pd.read_csv("files/IMDB_Dataset.csv")
df=df1.copy(deep=True)

In [138]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [139]:
df.iloc[:,0]

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. <br /><br />The...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [140]:
df["review"][1]

'A wonderful little production. <br /><br />The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />The actors are extremely well chosen- Michael Sheen not only "has got all the polari" but he has all the voices down pat too! You can truly see the seamless editing guided by the references to Williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. A masterful production about one of the great master\'s of comedy and his life. <br /><br />The realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. It plays on our knowledge and our senses, particularly with the scenes concerning Orton and Halliwell and the sets (particularly of their flat with Halliwell\'s murals decorating every surface) are terribly well done.'

# Text cleaning 
- Html tags
- Special characters
- Lowercase all
- Remove stop words
- Stemming

In [142]:
df=df.sample(10000)

In [143]:
df.shape

(10000, 2)

In [144]:
df.describe().T

,count,unique,top,freq
review,10000,9987,An absolutely atrocious adaptation of the wond...,2
sentiment,10000,2,positive,5014

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 966 to 16854
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [146]:
df["sentiment"].replace({"positive":1,"negative":0},inplace=True)

/var/folders/49/2yb8tvwd13q0h205019lpz540000gn/T/ipykernel_2221/3225820470.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["sentiment"].replace({"positive":1,"negative":0},inplace=True)
/var/folders/49/2yb8tvwd13q0h205019lpz540000gn/T/ipykernel_2221/3225820470.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["sentiment"].replace({"positive":1,"negative":0},inplace=True)

In [147]:
df.head()

                                                  review  sentiment
966    The problem is the role of the characters in t...          0
38736  Joan Fontaine stars as the villain in this Vic...          1
36320  A criminally short lived show that went on to ...          1
25168  one of the most awaited movie!i thought himesh...          0
11829  Such great actors such a disappointment. Marlo...          0

##  Remove html tags

In [149]:
df.iloc[5,0]

'Barry Kane (Robert Cummings) is wrongfully accused on sabotaging a hanger making aircrafts for the war. He goes on the run, meets Patricia Martin (Priscilla Lane) along the way, and she joins him to find and bring the real criminals to justice.<br /><br />There are a lot of things wrong with this film. Robert Cummings was a good actor but he\'s totally miscast in this role; Priscilla Lane is pretty but was never a good actress; the story doesn\'t make a whole lot of sense (and rambles on longer than needed); it wears its patriotism a bit much (but this WAS made while WWII was in full swing) and there\'s no ending. It shouldn\'t work but it does.<br /><br />It\'s full of bizarre lines and characters that certainly hold your interest.<br /><br />For example: Lane says to Cummings (while they\'re falling in love), "I wish I could have met you a hundred years ago" (????!!!!); Lane PAYS a villain for getting her lunch and Cummings and Lane join a circus troupe briefly while on the run. Also Hitchcock\'s direction was (as always) just great--he throws in some truly amazing shots and sequences--especially the Statue of Liberty climax. <br /><br />This is not one of Hitchcock\'s classic movie but is still very good and worth catching.'

In [150]:
import re
clean=re.compile("<.*?>")
re.sub(clean,"",df.iloc[5].review)

'Barry Kane (Robert Cummings) is wrongfully accused on sabotaging a hanger making aircrafts for the war. He goes on the run, meets Patricia Martin (Priscilla Lane) along the way, and she joins him to find and bring the real criminals to justice.There are a lot of things wrong with this film. Robert Cummings was a good actor but he\'s totally miscast in this role; Priscilla Lane is pretty but was never a good actress; the story doesn\'t make a whole lot of sense (and rambles on longer than needed); it wears its patriotism a bit much (but this WAS made while WWII was in full swing) and there\'s no ending. It shouldn\'t work but it does.It\'s full of bizarre lines and characters that certainly hold your interest.For example: Lane says to Cummings (while they\'re falling in love), "I wish I could have met you a hundred years ago" (????!!!!); Lane PAYS a villain for getting her lunch and Cummings and Lane join a circus troupe briefly while on the run. Also Hitchcock\'s direction was (as always) just great--he throws in some truly amazing shots and sequences--especially the Statue of Liberty climax. This is not one of Hitchcock\'s classic movie but is still very good and worth catching.'

In [629]:
df2=df.copy()

In [630]:
# function 

import re
def clean_tags(text):
    clean=re.compile("<.*?>")
    return re.sub(clean,"",text)

In [631]:
df2["review"]=df2["review"].apply(clean_tags)

In [632]:
df2["review"]

966      The problem is the role of the characters in t...
38736    Joan Fontaine stars as the villain in this Vic...
36320    A criminally short lived show that went on to ...
25168    one of the most awaited movie!i thought himesh...
11829    Such great actors such a disappointment. Marlo...
                               ...
9871     This is perhaps the most ridiculous crap I hav...
16762    Scott's collection of 80's icons cannot save t...
37004    Bamboo House of Dolls (1973, 1974 or 1977, var...
41575    I had seen Marion Davies in a couple of movies...
16854    This film was strongly recommended by a friend...
Name: review, Length: 10000, dtype: object

In [633]:
def to_lower(text):
    return text.lower()

In [634]:
df2["review"]=df2["review"].apply(to_lower)

In [635]:
df2.loc[966,"review"]

"the problem is the role of the characters in the film. man to man shows a british anthropologist kidnapping two pygmies and taking them to scotland and then realising that they are not animals or subhumans but actually equal to himself. the problem is the role of the pygmies in the film - two people who are kidnapped, treated like animals, and yet given such a shallow, stereotypical role within the film... the kidnapper (british anthropologist) ends up being the hero of the film because he 'manages' to relate to the pygmies... no notion of how the two hostages feel, of their point of view, of their ordeal... i find it is a shallow film, with a one sided fundamentally racist view... it never manages to move away from the 'white mans' view"

In [636]:
def remove_special_char(text):
    x=""
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+" "
    return x

In [637]:
df2["review"]=df2["review"].apply(remove_special_char)
df2.loc[966,"review"]

'the problem is the role of the characters in the film  man to man shows a british anthropologist kidnapping two pygmies and taking them to scotland and then realising that they are not animals or subhumans but actually equal to himself  the problem is the role of the pygmies in the film   two people who are kidnapped  treated like animals  and yet given such a shallow  stereotypical role within the film    the kidnapper  british anthropologist  ends up being the hero of the film because he  manages  to relate to the pygmies    no notion of how the two hostages feel  of their point of view  of their ordeal    i find it is a shallow film  with a one sided fundamentally racist view    it never manages to move away from the  white mans  view'

In [638]:
df2.head()

                                                  review  sentiment
966    the problem is the role of the characters in t...          0
38736  joan fontaine stars as the villain in this vic...          1
36320  a criminally short lived show that went on to ...          1
25168  one of the most awaited movie i thought himesh...          0
11829  such great actors such a disappointment  marlo...          0

In [639]:
remove_special_char("what is th/e ag@e of him")

'what is th e ag e of him'

In [640]:
import nltk

In [641]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/rabinpoudel/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [642]:
from nltk.corpus import stopwords

In [643]:
stopwords.words("english")

['a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 "he'd",
 "he'll",
 'her',
 'here',
 'hers',
 'herself',
 "he's",
 'him',
 'himself',
 'his',
 'how',
 'i',
 "i'd",
 'if',
 "i'll",
 "i'm",
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it'd",
 "it'll",
 "it's",
 'its',
 'itself',
 "i've",
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she'd",
 "she'll",
 "she's",
 'should',
 'shouldn',
 "shouldn't",
 "should've",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 "they'd",
 "they'll",
 "they're",
 "they've",
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 "we'd",
 "we'll",
 "we're",
 'were',
 'weren',
 "weren't",
 "we've",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 'your',
 "you're",
 'yours',
 'yourself',
 'yourselves',
 "you've"]

In [644]:
stopwords.words("nepali")

['छ',
 'र',
 'पनि',
 'छन्',
 'लागि',
 'भएको',
 'गरेको',
 'भने',
 'गर्न',
 'गर्ने',
 'हो',
 'तथा',
 'यो',
 'रहेको',
 'उनले',
 'थियो',
 'हुने',
 'गरेका',
 'थिए',
 'गर्दै',
 'तर',
 'नै',
 'को',
 'मा',
 'हुन्',
 'भन्ने',
 'हुन',
 'गरी',
 'त',
 'हुन्छ',
 'अब',
 'के',
 'रहेका',
 'गरेर',
 'छैन',
 'दिए',
 'भए',
 'यस',
 'ले',
 'गर्नु',
 'औं',
 'सो',
 'त्यो',
 'कि',
 'जुन',
 'यी',
 'का',
 'गरि',
 'ती',
 'न',
 'छु',
 'छौं',
 'लाई',
 'नि',
 'उप',
 'अक्सर',
 'आदि',
 'कसरी',
 'क्रमशः',
 'चाले',
 'अगाडी',
 'अझै',
 'अनुसार',
 'अन्तर्गत',
 'अन्य',
 'अन्यत्र',
 'अन्यथा',
 'अरु',
 'अरुलाई',
 'अर्को',
 'अर्थात',
 'अर्थात्',
 'अलग',
 'आए',
 'आजको',
 'ओठ',
 'आत्म',
 'आफू',
 'आफूलाई',
 'आफ्नै',
 'आफ्नो',
 'आयो',
 'उदाहरण',
 'उनको',
 'उहालाई',
 'एउटै',
 'एक',
 'एकदम',
 'कतै',
 'कम से कम',
 'कसै',
 'कसैले',
 'कहाँबाट',
 'कहिलेकाहीं',
 'का',
 'किन',
 'किनभने',
 'कुनै',
 'कुरा',
 'कृपया',
 'केही',
 'कोही',
 'गए',
 'गरौं',
 'गर्छ',
 'गर्छु',
 'गर्नुपर्छ',
 'गयौ',
 'गैर',
 'चार',
 'चाहनुहुन्छ',
 'चाहन्छु',
 'चाहिए',
 'छू',
 'जताततै',
 'जब',
 'जबकि',
 'जसको',
 'जसबाट',
 'जसमा',
 'जसलाई',
 'जसले',
 'जस्तै',
 'जस्तो',
 'जस्तोसुकै',
 'जहाँ',
 'जान',
 'जाहिर',
 'जे',
 'जो',
 'ठीक',
 'तत्काल',
 'तदनुसार',
 'तपाईको',
 'तपाई',
 'पर्याप्त',
 'पहिले',
 'पहिलो',
 'पहिल्यै',
 'पाँच',
 'पाँचौं',
 'तल',
 'तापनी',
 'तिनी',
 'तिनीहरू',
 'तिनीहरुको',
 'तिनिहरुलाई',
 'तिमी',
 'तिर',
 'तीन',
 'तुरुन्तै',
 'तेस्रो',
 'तेस्कारण',
 'पूर्व',
 'प्रति',
 'प्रतेक',
 'प्लस',
 'फेरी',
 'बने',
 'त्सपछि',
 'त्सैले',
 'त्यहाँ',
 'थिएन',
 'दिनुभएको',
 'दिनुहुन्छ',
 'दुई',
 'देखि',
 'बरु',
 'बारे',
 'बाहिर',
 'देखिन्छ',
 'देखियो',
 'देखे',
 'देखेको',
 'देखेर',
 'दोस्रो',
 'धेरै',
 'नजिकै',
 'नत्र',
 'नयाँ',
 'निम्ति',
 'बाहेक',
 'बीच',
 'बीचमा',
 'भन',
 'निम्न',
 'निम्नानुसार',
 'निर्दिष्ट',
 'नौ',
 'पक्का',
 'पक्कै',
 'पछि',
 'पछिल्लो',
 'पटक',
 'पर्छ',
 'पर्थ्यो',
 'भन्छन्',
 'भन्',
 'भन्छु',
 'भन्दा',
 'भन्नुभयो',
 'भर',
 'भित्र',
 'भित्री',
 'म',
 'मलाई',
 'मात्र',
 'माथि',
 'मुख्य',
 'मेरो',
 'यति',
 'यथोचित',
 'यदि',
 'यद्यपि',
 'यसको',
 'यसपछि',
 'यसबाहेक',
 'यसरी',
 'यसो',
 'यस्तो',
 'यहाँ',
 'यहाँसम्म',
 'या',
 'रही',
 'राखे',
 'राख्छ',
 'राम्रो',
 'रूप',
 'लगभग',
 'वरीपरी',
 'वास्तवमा',
 'बिरुद्ध',
 'बिशेष',
 'सायद',
 'शायद',
 'संग',
 'संगै',
 'सक्छ',
 'सट्टा',
 'सधै',
 'सबै',
 'सबैलाई',
 'समय',
 'सम्भव',
 'सम्म',
 'सही',
 'साँच्चै',
 'सात',
 'साथ',
 'साथै',
 'सारा',
 'सोही',
 'स्पष्ट',
 'हरे',
 'हरेक']

In [645]:
len(stopwords.words("nepali"))

255

In [646]:
def stopwords_filter1(text):
    x=[]
    for i in text.split():
        if i not in stopwords.words("english"):
            x.append(i)
    y=x[:]
    x.clear()
    return y

In [647]:
def stopwords_filter2(text):
    stop=set(stopwords.words("english"))
    return [word for word in text.split() if word.lower() not in stop]

In [648]:
import time 
df3=df2.copy()

In [649]:
t=time.time()
df2["review"]=df2["review"].apply(stopwords_filter1)
print(time.time()-t)

68.11782598495483

In [650]:
df2.loc[966,"review"]

['problem',
 'role',
 'characters',
 'film',
 'man',
 'man',
 'shows',
 'british',
 'anthropologist',
 'kidnapping',
 'two',
 'pygmies',
 'taking',
 'scotland',
 'realising',
 'animals',
 'subhumans',
 'actually',
 'equal',
 'problem',
 'role',
 'pygmies',
 'film',
 'two',
 'people',
 'kidnapped',
 'treated',
 'like',
 'animals',
 'yet',
 'given',
 'shallow',
 'stereotypical',
 'role',
 'within',
 'film',
 'kidnapper',
 'british',
 'anthropologist',
 'ends',
 'hero',
 'film',
 'manages',
 'relate',
 'pygmies',
 'notion',
 'two',
 'hostages',
 'feel',
 'point',
 'view',
 'ordeal',
 'find',
 'shallow',
 'film',
 'one',
 'sided',
 'fundamentally',
 'racist',
 'view',
 'never',
 'manages',
 'move',
 'away',
 'white',
 'mans',
 'view']

In [651]:
t=time.time()
df3["review"]=df3["review"].apply(stopwords_filter2)
print(time.time()-t)

0.5131921768188477

In [652]:
df3.loc[966,"review"]

['problem',
 'role',
 'characters',
 'film',
 'man',
 'man',
 'shows',
 'british',
 'anthropologist',
 'kidnapping',
 'two',
 'pygmies',
 'taking',
 'scotland',
 'realising',
 'animals',
 'subhumans',
 'actually',
 'equal',
 'problem',
 'role',
 'pygmies',
 'film',
 'two',
 'people',
 'kidnapped',
 'treated',
 'like',
 'animals',
 'yet',
 'given',
 'shallow',
 'stereotypical',
 'role',
 'within',
 'film',
 'kidnapper',
 'british',
 'anthropologist',
 'ends',
 'hero',
 'film',
 'manages',
 'relate',
 'pygmies',
 'notion',
 'two',
 'hostages',
 'feel',
 'point',
 'view',
 'ordeal',
 'find',
 'shallow',
 'film',
 'one',
 'sided',
 'fundamentally',
 'racist',
 'view',
 'never',
 'manages',
 'move',
 'away',
 'white',
 'mans',
 'view']

In [653]:
df4=df.copy()
t=time.time()
df4["review"]=df4["review"].apply(stopwords_filter2)
print(time.time()-t)

0.5100769996643066

In [654]:
df4.loc[966,"review"]

['problem',
 'role',
 'characters',
 'film.',
 'Man',
 'Man',
 'shows',
 'British',
 'anthropologist',
 'kidnapping',
 'two',
 'pygmies',
 'taking',
 'Scotland',
 'realising',
 'animals',
 'subhumans',
 'actually',
 'equal',
 'himself.',
 'problem',
 'role',
 'pygmies',
 'film',
 '-',
 'two',
 'people',
 'kidnapped,',
 'treated',
 'like',
 'animals,',
 'yet',
 'given',
 'shallow,',
 'stereotypical',
 'role',
 'within',
 'film...',
 'kidnapper',
 '(british',
 'anthropologist)',
 'ends',
 'hero',
 'film',
 "'manages'",
 'relate',
 'pygmies...',
 'notion',
 'two',
 'hostages',
 'feel,',
 'point',
 'view,',
 'ordeal...',
 'find',
 'shallow',
 'film,',
 'one',
 'sided',
 'fundamentally',
 'racist',
 'view...',
 'never',
 'manages',
 'move',
 'away',
 "'white",
 "mans'",
 'view']

#                           --------------------------------

In [656]:
df2.head()

                                                  review  sentiment
966    [problem, role, characters, film, man, man, sh...          0
38736  [joan, fontaine, stars, villain, victorian, er...          1
36320  [criminally, short, lived, show, went, spawn, ...          1
25168  [one, awaited, movie, thought, himesh, bit, ac...          0
11829  [great, actors, disappointment, marlon, brando...          0

In [657]:
df2.shape

(10000, 2)

# Stemming

In [659]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [660]:
y=[]
def stem_words(text):
    for i in text :
        y.append(ps.stem(i))
    z=y[:]
    y.clear()
    return z
    #return [ps.stem(tok) for tok in text]

In [702]:
stem_words(["loving","love","loved","walk","walking","moving"])

['love', 'love', 'love', 'walk', 'walk', 'move']

In [662]:
df2["review"]=df2["review"].apply(stem_words)
df2.sample(1)

                                                  review  sentiment
36762  [well, least, theater, group, lol, cours, reme...          0

In [663]:
def join_back(text):
    return " ".join(text)

In [664]:
df2["review"]=df2["review"].apply(join_back)
df2.sample(1)

                                                  review  sentiment
25431  singl act charli wilson congressman real chara...          1

In [714]:
X=df2.iloc[:,0]

In [ ]:
X