In [136]:
import pandas as pd
import numpy as np

In [137]:
df1=pd.read_csv("files/IMDB_Dataset.csv")
df=df1.copy(deep=True)

In [138]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [139]:
df.iloc[:,0]

0        One of the other reviewers has mentioned that ...
1        A wonderful little production. <br /><br />The...
2        I thought this was a wonderful way to spend ti...
3        Basically there's a family where a little boy ...
4        Petter Mattei's "Love in the Time of Money" is...
                               ...
49995    I thought this movie did a down right good job...
49996    Bad plot, bad dialogue, bad acting, idiotic di...
49997    I am a Catholic taught in parochial elementary...
49998    I'm going to have to disagree with the previou...
49999    No one expects the Star Trek movies to be high...
Name: review, Length: 50000, dtype: object

In [140]:
df["review"][1]

'A wonderful little production. <br /><br />The filming technique is very unassuming- very old-time-BBC fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece. <br /><br />The actors are extremely well chosen- Michael Sheen not only "has got all the polari" but he has all the voices down pat too! You can truly see the seamless editing guided by the references to Williams\' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece. A masterful production about one of the great master\'s of comedy and his life. <br /><br />The realism really comes home with the little things: the fantasy of the guard which, rather than use the traditional \'dream\' techniques remains solid then disappears. It plays on our knowledge and our senses, particularly with the scenes concerning Orton and Halliwell and the sets (particularly of their flat with Halliwell\'s murals decorating every surface) are terribly well done.'

# Text cleaning 
- Html tags
- Special characters
- Lowercase all
- Remove stop words
- Stemming

In [142]:
df=df.sample(10000)

In [143]:
df.shape

(10000, 2)

In [144]:
df.describe().T

,count,unique,top,freq
review,10000,9987,An absolutely atrocious adaptation of the wond...,2
sentiment,10000,2,positive,5014

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10000 entries, 966 to 16854
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     10000 non-null  object
 1   sentiment  10000 non-null  object
dtypes: object(2)
memory usage: 234.4+ KB

In [146]:
df["sentiment"].replace({"positive":1,"negative":0},inplace=True)

/var/folders/49/2yb8tvwd13q0h205019lpz540000gn/T/ipykernel_2221/3225820470.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["sentiment"].replace({"positive":1,"negative":0},inplace=True)
/var/folders/49/2yb8tvwd13q0h205019lpz540000gn/T/ipykernel_2221/3225820470.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["sentiment"].replace({"positive":1,"negative":0},inplace=True)

In [147]:
df.head()

                                                  review  sentiment
966    The problem is the role of the characters in t...          0
38736  Joan Fontaine stars as the villain in this Vic...          1
36320  A criminally short lived show that went on to ...          1
25168  one of the most awaited movie!i thought himesh...          0
11829  Such great actors such a disappointment. Marlo...          0

##  Remove html tags

In [149]:
df.iloc[5,0]

'Barry Kane (Robert Cummings) is wrongfully accused on sabotaging a hanger making aircrafts for the war. He goes on the run, meets Patricia Martin (Priscilla Lane) along the way, and she joins him to find and bring the real criminals to justice.<br /><br />There are a lot of things wrong with this film. Robert Cummings was a good actor but he\'s totally miscast in this role; Priscilla Lane is pretty but was never a good actress; the story doesn\'t make a whole lot of sense (and rambles on longer than needed); it wears its patriotism a bit much (but this WAS made while WWII was in full swing) and there\'s no ending. It shouldn\'t work but it does.<br /><br />It\'s full of bizarre lines and characters that certainly hold your interest.<br /><br />For example: Lane says to Cummings (while they\'re falling in love), "I wish I could have met you a hundred years ago" (????!!!!); Lane PAYS a villain for getting her lunch and Cummings and Lane join a circus troupe briefly while on the run. Also Hitchcock\'s direction was (as always) just great--he throws in some truly amazing shots and sequences--especially the Statue of Liberty climax. <br /><br />This is not one of Hitchcock\'s classic movie but is still very good and worth catching.'

In [150]:
import re
clean=re.compile("<.*?>")
re.sub(clean,"",df.iloc[5].review)

'Barry Kane (Robert Cummings) is wrongfully accused on sabotaging a hanger making aircrafts for the war. He goes on the run, meets Patricia Martin (Priscilla Lane) along the way, and she joins him to find and bring the real criminals to justice.There are a lot of things wrong with this film. Robert Cummings was a good actor but he\'s totally miscast in this role; Priscilla Lane is pretty but was never a good actress; the story doesn\'t make a whole lot of sense (and rambles on longer than needed); it wears its patriotism a bit much (but this WAS made while WWII was in full swing) and there\'s no ending. It shouldn\'t work but it does.It\'s full of bizarre lines and characters that certainly hold your interest.For example: Lane says to Cummings (while they\'re falling in love), "I wish I could have met you a hundred years ago" (????!!!!); Lane PAYS a villain for getting her lunch and Cummings and Lane join a circus troupe briefly while on the run. Also Hitchcock\'s direction was (as always) just great--he throws in some truly amazing shots and sequences--especially the Statue of Liberty climax. This is not one of Hitchcock\'s classic movie but is still very good and worth catching.'

In [257]:
df2=df.copy()

In [258]:
# function 

import re
def clean_tags(text):
    clean=re.compile("<.*?>")
    return re.sub(clean,"",text)

In [259]:
df2["review"]=df2["review"].apply(clean_tags)

In [260]:
df2["review"]

966      The problem is the role of the characters in t...
38736    Joan Fontaine stars as the villain in this Vic...
36320    A criminally short lived show that went on to ...
25168    one of the most awaited movie!i thought himesh...
11829    Such great actors such a disappointment. Marlo...
                               ...
9871     This is perhaps the most ridiculous crap I hav...
16762    Scott's collection of 80's icons cannot save t...
37004    Bamboo House of Dolls (1973, 1974 or 1977, var...
41575    I had seen Marion Davies in a couple of movies...
16854    This film was strongly recommended by a friend...
Name: review, Length: 10000, dtype: object

In [261]:
def to_lower(text):
    return text.lower()

In [262]:
df2["review"]=df2["review"].apply(to_lower)

In [263]:
df2.loc[966,"review"]

"the problem is the role of the characters in the film. man to man shows a british anthropologist kidnapping two pygmies and taking them to scotland and then realising that they are not animals or subhumans but actually equal to himself. the problem is the role of the pygmies in the film - two people who are kidnapped, treated like animals, and yet given such a shallow, stereotypical role within the film... the kidnapper (british anthropologist) ends up being the hero of the film because he 'manages' to relate to the pygmies... no notion of how the two hostages feel, of their point of view, of their ordeal... i find it is a shallow film, with a one sided fundamentally racist view... it never manages to move away from the 'white mans' view"

In [264]:
def remove_special_char(text):
    x=""
    for i in text:
        if i.isalnum():
            x=x+i
        else:
            x=x+" "
    return x

In [265]:
df2["review"]=df2["review"].apply(remove_special_char)
df2.loc[966,"review"]

'the problem is the role of the characters in the film  man to man shows a british anthropologist kidnapping two pygmies and taking them to scotland and then realising that they are not animals or subhumans but actually equal to himself  the problem is the role of the pygmies in the film   two people who are kidnapped  treated like animals  and yet given such a shallow  stereotypical role within the film    the kidnapper  british anthropologist  ends up being the hero of the film because he  manages  to relate to the pygmies    no notion of how the two hostages feel  of their point of view  of their ordeal    i find it is a shallow film  with a one sided fundamentally racist view    it never manages to move away from the  white mans  view'

In [266]:
df2.head()

                                                  review  sentiment
966    the problem is the role of the characters in t...          0
38736  joan fontaine stars as the villain in this vic...          1
36320  a criminally short lived show that went on to ...          1
25168  one of the most awaited movie i thought himesh...          0
11829  such great actors such a disappointment  marlo...          0

In [284]:
remove_special_char("what is th/e ag@e of him")

'what is th e ag e of him'