In [45]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
import warnings
warnings.filterwarnings(category=FutureWarning,action='ignore')

In [46]:
df=pd.read_csv("train.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'train.csv'

In [ ]:
df.shape

(891, 12)

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
df.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [ ]:
df.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [ ]:
df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['Survived']),
                                                 df['Survived'],
                                                 test_size=0.2,
                                                random_state=42)

In [ ]:
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
331       1    male  45.5      0      0  28.5000        S
733       2    male  23.0      0      0  13.0000        S
382       3    male  32.0      0      0   7.9250        S
704       3    male  26.0      1      0   7.8542        S
813       3  female   6.0      4      2  31.2750        S

# Imputation

In [49]:
si1=SimpleImputer()
si2=SimpleImputer(strategy='most_frequent')

xtrain_impute_age=si1.fit_transform(X_train[["Age"]])
xtrain_impute_embarked=si2.fit_transform(X_train[["Embarked"]])

xtest_impute_age=si1.transform(X_test[["Age"]])
xtest_impute_embarked=si2.transform(X_test[["Embarked"]])


# clf=ColumnTransformer(transformers=[(trf_age),["Age"]])

In [50]:
X_train.isna().sum()

Pclass        0
Sex           0
Age         140
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [52]:
np.unique(xtrain_impute_embarked,return_counts=True)

(array(['C', 'Q', 'S'], dtype=object), array([125,  60, 527]))

# one hot encode

In [58]:
ohe_sex=OneHotEncoder(sparse_output=False,handle_unknown='ignore')#dropfirst for linear models - to avoid multicollinearity
ohe_embarked=OneHotEncoder(sparse_output=False,handle_unknown='ignore')
xtrain_sex_encode=ohe_sex.fit_transform(X_train[["Sex"]])
xtest_sex_encode=ohe_sex.transform(X_train[["Sex"]])
xtrain_embarked_encode=ohe_embarked.fit_transform(xtrain_impute_embarked)
xtest_embarked_encode=ohe_embarked.transform(xtest_impute_embarked)

In [59]:
xtrain_embarked_encode

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [61]:
xtrain_sex_encode

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [1., 0.],
       [0., 1.]])

In [62]:
X_train.head(3)

     Pclass   Sex   Age  SibSp  Parch    Fare Embarked
331       1  male  45.5      0      0  28.500        S
733       2  male  23.0      0      0  13.000        S
382       3  male  32.0      0      0   7.925        S

In [63]:
xtrain_rem=X_train.drop(columns=["Sex","Embarked","Age"])
xtest_rem=X_test.drop(columns=["Sex","Embarked","Age"])

In [64]:
xtrain_rem.head()

     Pclass  SibSp  Parch     Fare
331       1      0      0  28.5000
733       2      0      0  13.0000
382       3      0      0   7.9250
704       3      1      0   7.8542
813       3      4      2  31.2750

In [ ]:
xtrain_final=np.con